
 

  <!-- Footer Component -->
  <footer class="footer">
     <!-- Main Content Wrapper -->
  <!--div class="page-container"-->
    <!-- About Component -->
    <!--section class="about">
      <h1>About Us</h1>
      <p>
        ברוכים הבאים לאתר שלנו! אנחנו צוות מומחים בתחום החומרה, מספקים לכם את המוצרים המתקדמים ביותר בעולם הטכנולוגיה.
      </p>
    </section>
  </div-->
    <p class="site-name">Website Name: <strong>MyWebsite</strong></p>
    <p class="student-names">Students: Haitham Daher, Ayham Haj</p>
    <p class="contact">
      Contact us:
      <a href="mailto:85eegt@gmail.com">Haitham</a> |
      <a href="mailto:ayham.haj30@gmail.com">Ayham</a>
    </p>
  </footer>

