
  <nav class="navbar">
    <ul class="navbar-links">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="catalog">Catalog</a></li>
      <li><a routerLink="cart">Cart</a></li>
      <li><a routerLink="builds">PC-Build</a></li>
      <li><a routerLink="about">About</a></li>

      <li *ngIf="!isLoggedIn"><a routerLink="profile">Login</a></li>
      <li *ngIf="isAdmin"><a routerLink="manageProduct">manage-product</a></li>
      <li *ngIf="isLoggedIn">
        <button class="btn btn-link" (click)="logout()">Logout</button>
      </li>
      
      
    </ul>


