<div class="sidebar">
  <br><br>
  <h3 class="sidebar-title">Categories</h3>
  <ul class="category-list">
    <li class="category-item">
      <button (click)="selectCategory('graphic card')" class="btn category-link">Graphic Card</button>
    </li>
    <li class="category-item">
      <button (click)="selectCategory('motherboard')" class="btn category-link">Motherboards</button>
    </li>
    <li class="category-item">
      <button (click)="selectCategory('monitor')" class="btn category-link">Monitors</button>
    </li>
    <li class="category-item">
      <button (click)="selectCategory('cpu')" class="btn category-link">CPU</button>
    </li>
    <li class="category-item">
      <button  (click)="selectCategory('ram')" class="btn category-link">RAM</button>
    </li>
    <li class="category-item">
      <button class="btn category-link" (click)="selectCategory('rom')">ROM (Storage)</button>
    </li>
  </ul>
</div>
